<div class="container" style="width: 30%; padding: 4rem">
  <div class="card">
    <header class="card__header">
      <img class="hero" src="images/illustration-hero.svg" alt="" />
    </header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nam
      deserunt itaque magni perferendis commodi numquam quae quas incidunt
      cupiditate et, voluptatum aliquid temporibus nihil enim ducimus veritatis
      quia veniam!
    </div>
  </div>
</div>
